/* Estilos generales para el footer */
footer {
    background-color: var(--nav-bg-color); /* Fondo coherente con la barra de navegación */
    color: var(--text-color); /* Texto en color principal */
    padding: 20px 0; /* Espaciado interno arriba y abajo */
    text-align: center; /* Centrar el texto */
    width: 100%; /* Asegura que ocupe todo el ancho de la pantalla */
}

/* Contenedor principal del footer */
.footer-container {
    width: 100%; /* Asegura que ocupe todo el ancho de la pantalla */
    max-width: none; /* Elimina la restricción de ancho máximo */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
    display: flex; /* Usar flexbox para el layout */
    flex-direction: column; /* Colocar los elementos en una columna */
    align-items: center; /* Centrar los elementos horizontalmente */
    gap: 1rem;
}

/* Estilos para la sección de información del footer */
.footer-info {
    margin-bottom: 10px; /* Espacio debajo de la información */
    font-size: 1.1rem;
    color: var(--highlight-color); /* Color de acento */
}

/* Estilos para la sección de contacto */
#contacto {
    text-align: center;
    margin-top: 10px;
    background-color: var(--nav-bg-color); /* Fondo oscuro */
    padding: 20px 0; /* Espaciado interno similar al footer */
    width: 100%; /* Asegura que ocupe todo el ancho */
}

#contacto h2 {
    margin-bottom: 20px;
    color: var(--text-color);
}

#contacto ul {
    display: flex;
    justify-content: center;  /* Centra los elementos horizontalmente */
    flex-wrap: wrap;          /* Permite que los elementos se muevan a la siguiente línea en pantallas pequeñas */
    gap: 10px;               /* Espaciado entre los elementos */
    padding: 0;
    list-style: none;
}

#contacto li {
    display: flex;
    flex-direction: column;  /* Muestra los elementos en columna (imagen + texto) */
    align-items: center;     /* Centra los elementos dentro de cada li */
    width: 120px;            /* Ajusta el ancho de cada item, puedes cambiarlo según el diseño */
}

.style-button {
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    #contacto ul {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: center;     /* Centra los elementos */
    }

    #contacto li {
        width: auto;            /* El ancho se ajustará al contenido */
        margin-bottom: 20px;    /* Añade margen inferior para los elementos en columna */
    }
}