/* Variables de color */
:root {
    --fondo-proyectos: #872d22; /* Fondo de la sección de proyectos */
    --borde-proyectos: #6e241b; /* Borde de la tarjeta */
    --sombra-proyectos: #a7362d; /* Sombra */
    --text-color: #ffffff; /* Color de texto */
    --highlight-color: #ffb5a7; /* Color de acento */
    --boton-bg: #5a1d15; /* Fondo del botón */
    --boton-hover-bg: #d45b4a; /* Fondo del botón en hover */
}

/* Estilos de la sección de proyectos */
.proyectos {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    background: var(--fondo-proyectos);
    border-radius: 10px;
}

/* Contenedor general que engloba los proyectos */
.galeria-proyectos {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

/* Contenedor de cada proyecto */
.proyecto {
    background-color: var(--nav-item-bg);
    border: 1px solid var(--borde-proyectos);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 2rem;
    width: calc(33% - 40px);
    box-shadow: 1px 2px 5px var(--sombra-proyectos);
    text-align: center;
}

/* Imagen del proyecto */
.proyectos img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.proyectos img:hover {
    transform: scale(1.05);
}

/* Título del proyecto */
.proyectos h3 {
    margin-top: 10px;
    font-size: 1.4rem;
    color: var(--highlight-color);
}

/* Descripción del proyecto */
.proyectos p {
    margin: 10px 0;
    font-size: 1rem;
    color: var(--text-color);
}

/* Botón de enlace */
.proyectos a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: var(--boton-bg);
    color: var(--text-color);
    border-radius: 5px;
    font-size: 1.1rem;
    letter-spacing: 1px;
    transition: background 0.3s ease, transform 0.3s ease;
}

/* Botón al pasar el mouse */
.proyectos a:hover {
    background: var(--boton-hover-bg);
    transform: translateY(-5px);
}

/* Responsive Design */
@media (max-width: 768px) {
    .proyecto {
        width: calc(100% - 40px);
    }

    .proyectos h3 {
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .proyecto {
        width: calc(50% - 40px);
    }

    .proyectos h3 {
        font-size: 1.3rem;
    }
}

@media (min-width: 1024px) {
    .proyecto {
        width: calc(33% - 40px);
    }
}