/*Variables CSS*/
:root {
    --body-bg-color: #121212; /* Fondo oscuro */
    --text-color: #e0e0e0; /* Color de la fuente */
    --colorh1-color: #8f8f9c; /* Color de los títulos */
    --nav-bg-color: #2c2c2c; /* Fondo de la barra de navegación */
    --nav-item-bg: #3a3a3a; /* Fondo de los elementos de la barra de navegación */
    --nav-item-hover-bg: #4a4a4a; /* Fondo cuando el item de navegación es hover */
    --highlight-color: #cce7ff; /* Color para resaltar */
}

/* Aplicar las variables CSS creadas por el root */
body {
    background: var(--body-bg-color); /* Color de fondo */
    color: var(--text-color); /* Color de la fuente */
    font-family: 'Segoe', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

h1, h2 {
    color: var(--colorh1-color); /* Color de los títulos */
}

/* Estilos generales del body */
main {
    display: flex;
    flex-direction: column;
    gap: 2rem; /* Ajusta el espacio entre secciones */
}

/* Titulo del header */
.titulo {
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
}

/* Barra de navegación */
.navigation {
    display: flex; /* Flexbox */
    gap: 3rem; /* Espacio entre los elementos */
    list-style: none; /* Elimina los puntos de la lista */
    justify-content: flex-end; /* Justifica los elementos a la derecha */
    margin: 0 3rem; /* Margen superior e inferior */
    background: var(--nav-bg-color); /* Fondo de la barra */
    border-radius: 0.5rem;
    padding: 1rem 0;
}

/* Enlaces de la barra de navegación */
.navigation li {
    font-size: 1rem;
    width: 100px; /* Ancho de los elementos */
    text-align: center;
    padding: 0.5rem; /* Espacio interno */
    border-radius: 0.5rem; /* Bordes redondeados */
    background: var(--nav-item-bg); /* Fondo de los elementos */
    box-shadow: 0 0 0.5rem #a3a3a3; /* Sombra */
    transition: background 0.3s ease; /* Transición suave para el hover */
}

/* Cambio de fondo al pasar el cursor por encima */
.navigation li:hover {
    background: var(--nav-item-hover-bg); /* Fondo de los elementos en hover */
}

/* Estilo de los enlaces */
a {
    text-decoration: none;
    color: var(--text-color);
}

/* Sección "Sobre mi" */
.sobremi {
    display: flex;
    justify-content: center; /* Centra el contenido */
}

.container-sobremi {
    display: flex;
    width: 50%; /* Ancho del contenedor */
    padding: 2rem;
    margin-top: 5rem; /* Margen superior */
    line-height: 2.5rem; /* Espacio entre los párrafos */
    font-size: large; /* Tamaño de la fuente */
    color: var(--highlight-color); /* Color de la fuente */
    gap: 2rem; /* Espacio entre los elementos */
    align-items: center; /* Alinea los elementos al centro */
}

.img-perfil {
    border-radius: 50%; /* Bordes redondeados */
}

/* Sección "Experiencias" y "Estudios" */
.experiencias, .estudios {
    display: flex;
    justify-content: center; /* Centra el contenido */
    margin-top: 3rem; /* Margen superior */
    color: var(--highlight-color); /* Color de la fuente */
}

.container-experiencias, .container-estudios {
    width: 100%; /* Ancho del contenedor */
    padding: 1rem; /* Espacio interno */
    margin-top: 2rem; /* Margen superior */
    line-height: 2rem; /* Espacio entre los párrafos */
    font-size: large; /* Tamaño de la fuente */
    margin: 2rem; /* Margen superior e inferior */
}

/* Responsive design */

/* Pantallas pequeñas (celulares) */
@media (max-width: 768px) {
    .titulo {
        justify-content: center; /* Centra el contenido */
    }
    .navigation {
        flex-direction: column; /* Cambia la dirección de los elementos */
        gap: 1rem; /* Espacio entre los elementos */
        align-items: center;
    }
    .container-sobremi {
        width: 100%; /* Ancho del contenedor */
        padding: 1rem; /* Espacio interno */
        margin-top: 1rem; /* Margen superior */
        line-height: 2.5rem; /* Espacio entre los párrafos */
        font-size: small; /* Tamaño de la fuente */
        flex-direction: column; /* Cambia la dirección de los elementos */
    }

    /* Sección "Experiencias" y "Estudios" para pantallas pequeñas */
    .experiencias, .estudios {
        width: 100%; /* Ancho del contenedor */
        padding: 1rem; /* Espacio interno */
        margin-top: 1rem; /* Margen superior */
        font-size: small; /* Tamaño de la fuente */
    }
    .container-experiencias, .container-estudios {
        width: 100%; /* Ancho del contenedor */
        margin-top: 0rem; /* Margen superior */
    }
}

/* Pantallas medianas (tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
    .titulo {
        justify-content: center; /* Centra el contenido */
    }
    .navigation {
        gap: 2rem; /* Espacio entre los elementos */
        justify-items: center;
    }

    /* Sección "Experiencias" y "Estudios" para pantallas medianas */
    .experiencias, .estudios {
        width: 75%; /* Ancho del contenedor */
    }
}

/* Pantallas grandes (desktop) */
@media (min-width: 1024px) {
    .titulo {
        justify-content: flex-start; /* Justifica el contenido a la izquierda */
    }
    .navigation {
        gap: 3rem; /* Espacio entre los elementos */
        justify-items: flex-end; /* Justifica los elementos a la derecha */
        margin: 0 3rem; /* Margen superior e inferior */
    }
    /* Sección "Experiencias" y "Estudios" para pantallas grandes */
    .experiencias, .estudios {
        width: 75%; /* Ancho del contenedor */
    }
}
