/*Variables CSS*/
:root {
    --body-bg-color: #a7362d; /* Fondo principal */
    --text-color: #ffffff; /* Color de la fuente */
    --colorh1-color: #d45b4a; /* Color de los títulos */
    --nav-bg-color: #872d22; /* Fondo de la barra de navegación */
    --nav-item-bg: #6e241b; /* Fondo de los elementos de la barra de navegación */
    --nav-item-hover-bg: #5a1d15; /* Fondo cuando el item de navegación es hover */
    --highlight-color: #ffb5a7; /* Color para resaltar */
}

/* Aplicar las variables CSS creadas por el root */
body {
    background-color: var(--body-bg-color);
    color: var(--text-color);
    font-family: 'Segoe', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    text-align: center;
}

h1, h2 {
    color: var(--colorh1-color);
}

/* Estilos generales del body */
main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}


/* Titulo del header */
.titulo {
    font-size: 2rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Barra de navegación */
.navigation {
    display: flex;
    gap: 3rem;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: var(--nav-bg-color);
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    width: fit-content;
}

/* Enlaces de la barra de navegación */
.navigation li {
    font-size: 1rem;
    width: 100px;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: var(--nav-item-bg);
    box-shadow: 0 0 0.5rem #a7362d;
    transition: background 0.3s ease;
}

/* Cambio de fondo al pasar el cursor por encima */
.navigation li:hover {
    background: var(--nav-item-hover-bg);
}

/* Estilo de los enlaces */
a {
    text-decoration: none;
    color: var(--text-color);
}

/* Sección "Sobre mi" */
.sobremi {
    display: flex;
    justify-content: center;
}

.container-sobremi {
    display: flex;
    width: 50%;
    padding: 2rem;
    margin-top: 5rem;
    line-height: 2.5rem;
    font-size: large;
    color: var(--highlight-color);
    gap: 2rem;
    align-items: center;
}

.img-perfil {
    border-radius: 0 !important;
}

/* Sección "Experiencias" y "Estudios" */
.experiencias, .estudios {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    color: var(--highlight-color);
}

.container-experiencias, .container-estudios {
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
    line-height: 2rem;
    font-size: large;
    margin: 2rem;
}

/* Responsive design */

@media (max-width: 768px) {
    .titulo {
        justify-content: center;
    }
    .navigation {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
    .container-sobremi {
        width: 100%;
        padding: 1rem;
        margin-top: 1rem;
        line-height: 2.5rem;
        font-size: small;
        flex-direction: column;
    }

    .experiencias, .estudios {
        width: 100%;
        padding: 1rem;
        margin-top: 1rem;
        font-size: small;
    }
    .container-experiencias, .container-estudios {
        width: 100%;
        margin-top: 0rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .titulo {
        justify-content: center;
    }
    .navigation {
        gap: 2rem;
        justify-content: center;
    }
    .experiencias, .estudios {
        width: 75%;
    }
}

@media (min-width: 1024px) {
    .titulo {
        justify-content: center;
    }
    .navigation {
        gap: 3rem;
        justify-content: center;
        margin: 0 auto;
    }
    .experiencias, .estudios {
        width: 75%;
    }
}